@font-face {
  font-family: "Radomir";
  src: url("../fonts/Radomir.OTF") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Radomir Medium";
  src: url("../fonts/Radomir-Medium.OTF") format("opentype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Radomir Bold";
  src: url("../fonts/Radomir-Bold.OTF") format("opentype");
  font-weight: 700;
  font-style: normal;
}

/* START CSS RESET STYLES */
* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Radomir", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  transition: all 0.5s;
}

button:focus,
button:active {
  outline: none;
}

/* END CSS RESET STYLE */

/* HEADER SECTION */
.header-section {
  background-color: #0074b1;
  padding: 50px 10px 15px 10px;
  color: #ffffff;
}

.nav-icon {
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none !important;
}

.nav-icon .line {
  width: 30px;
  height: 3px;
  margin-bottom: 5px;
  border-radius: 20px;
  background-color: #ffffff;
}

.nav-icon .line-2 {
  width: 25px;
}

.nav-icon .line-3 {
  width: 20px;
}

.header-section h6 {
  font-family: "Radomir Medium", sans-serif;
  font-size: 20px;
  text-transform: uppercase;
}

.cart-icon a {
  color: inherit;
  text-decoration: none;
  font-size: 15px;
}

.cart-icon .cart-amount {
  background-color: #fb3242;
  color: #ffffff;
  border-radius: 30px;
  padding: 5px 10px;
  margin-right: 5px;
}

/* SHOP INFORMATION HEADER */

/* END SHOP HEADER */

/* START STYLING OF FORM ELEMENTS */
.input-field {
  margin-bottom: 25px;
  position: relative;
}

.input-field input {
  width: 100%;
  padding: 20px 15px;
  border: none;
  background-color: #f6f6f6;
  border-radius: 10px;
  color: #112f3e;
}

/* REMOVE ARROW BUTTONS IN INPUT TYPE NUMBER */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
/* END */

.input-field select {
  width: 100%;
  padding: 20px 15px;
  border: none;
  background-color: #f6f6f6;
  border-radius: 10px;
  color: #112f3e;
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
  -moz-appearance: none;
}

.input-field .arrow-icon {
  color: #a6afb4;
  position: absolute;
  right: 20px;
  top: 20px;
  font-size: 22px;
  pointer-events: none;
}

.input-field textarea {
  width: 100%;
  padding: 15px;
  background-color: #f6f6f6;
  border-radius: 10px;
  border: none;
  color: #112f3e;
}

.confirm-button {
  background-color: #0074b1;
  color: #fff !important;
  padding: 14px 20px;
  cursor: pointer;
  outline: none;
  width: 100%;
  display: block;
  border-radius: 10px;
  border: none;
  margin-top: 20px;
  margin-bottom: 15px;
  font-size: 18px;
  font-family: "Radomir Medium", sans-serif;
  text-decoration: none !important;
  text-align: center;
}

.payment-note {
  text-align: center;
  line-height: 26px;
}
/* END STYLING OF FORM ELEMENTS */

/* START MODAL FOR BUYING PRODUCT */
.modal .modal-content {
  border: none;
  padding: 1rem 2rem;
}

.modal .modal-header {
  border: none;
}

.modal .modal-header h5 {
  font-family: "Radomir Medium", sans-serif;
  color: #112f3e;
  font-size: 22px;
  letter-spacing: 0.025rem;
}

.modal .modal-header button {
  font-size: 25px;
  color: #888888;
  opacity: 1 !important;
}

.modal .modal-body button {
  background-color: #009e0f;
  border: none;
  outline: none;
  padding: 15px 20px;
  width: 100%;
  cursor: pointer;
  border-radius: 10px;
  color: #ffffff;
  letter-spacing: 0.025rem;
  font-family: "Radomir Medium", sans-serif;
}
/* END MODAL FOR BUYING PRODUCT */

/* START PRODUCT CARD SECTION */
.product-image {
  position: relative;
  margin-bottom: 10px;
}

.product-image .price-tag {
  position: absolute;
  top: 20px;
  left: 15px;
  background-color: #ffffff;
  color: #112f3e;
  border-radius: 20px;
  padding: 8px 15px;
  font-family: "Radomir Bold", sans-serif;
}

.product-details .product-image img {
  height: 350px;
}

.product-details .product-image .price-tag {
  top: 20px;
  left: 15px;
}

.product-image img {
  height: 235px;
  width: 100%;
  display: block;
  margin: 0 auto;
  border-radius: 20px;
}

.product-description .description-title {
  font-family: "Radomir Medium", sans-serif;
  color: #112f3e;
  font-size: 22px;
}

.product-description .description-title a {
  text-decoration: none;
  color: inherit;
}

.product-description .product-price,
.product-price {
  display: flex;
  justify-content: start;
  align-items: center;
}

.product-description .product-price p,
.product-price p {
  margin-bottom: 5px;
  display: inline-block;
  margin-right: 10px;
  color: #112f3e;
}

.product-description .product-price .new-price,
.product-price .new-price {
  font-family: "Radomir Medium", sans-serif;
  font-size: 20px;
  color: #009e0f;
}

.product-description .product-price .old-price,
.product-price .old-price {
  font-size: 16px;
  text-decoration: line-through;
  color: #a6afb4;
  align-self: flex-end;
}

.product-description .description-text {
  line-height: 26px;
}

.product-description .quantity-and-product-details .quantity {
  padding: 0 15px;
  font-size: 18px;
}

.product-description .quantity-and-product-details .product-quantity a {
  line-height: 35px;
  height: 35px;
  width: 35px;
  font-size: 15px;
}

.order-information .product-quantity {
  display: none;
}
/* END PRODUCT DESCRIPTION SECION */

/* START PRODUCT INCREASE AND DECREASE QUANTITY */
.product-quantity .quantity {
  font-size: 20px;
  padding: 0 30px;
  font-family: "Radomir Bold", sans-serif;
}

.product-quantity a {
  display: inline-block;
  line-height: 50px;
  height: 50px;
  width: 50px;
  font-size: 18px;
  border-radius: 50%;
  border: none;
  text-align: center;
  text-decoration: none;
}

.product-quantity .decrease {
  background-color: #ffffff;
  color: #888888;
  box-shadow: 0px 0px 3px 3px rgba(212, 223, 221, 0.5);
}

.product-quantity .increase {
  background-color: #009e0f;
  color: #ffffff;
}
/* END PRODUCT INCREASE AND INCREASE SECTION */

/* START HOMEPAGE SECTION */
.nav-tabs {
  justify-content: space-between;
  border: none !important;
  margin-bottom: 30px;
}

.nav-tabs .nav-item .nav-link:hover,
.nav-tabs .nav-item .nav-link,
.nav-tabs .nav-item .nav-link.active {
  border: none !important;
  /* color: #000000; */
}

.nav-tabs .nav-item .nav-link {
  color: #888888;
}

.nav-tabs .nav-item .nav-link.active {
  color: #000000;
}

.nav-tabs .nav-item .nav-link.active img {
  opacity: 1;
}

.nav-tabs .nav-item .nav-link img {
  opacity: 0.5;
  height: 22px;
  width: 22px;
  margin-right: 5px;
}

/* BIG PHOTO SECTION */
.big-photo-section a {
  text-decoration: none;
}

.single-product {
  position: relative;
  margin-bottom: 20px;
}

.single-product img {
  height: 350px;
  width: 100%;
  border-radius: 15px;
}

.single-product .add-remove-like .cart-button {
  color: #ffffff;
  padding: 10px 14px;
  line-height: normal;
  border-radius: 10px;
  text-decoration: none;
  top: 20px;
  left: 15px;
  position: absolute;
}

.single-product .add-remove-like .add-to-cart {
  background-color: #009e0f;
}

.single-product .add-remove-like .remove-from-cart {
  background-color: #fb3242;
}

.single-product .add-remove-like .like-product {
  position: absolute;
  top: 20px;
  right: 15px;
  height: 40px;
  width: 40px;
  display: block;
  line-height: 40px;
  border-radius: 8px;
  background-color: #ffffff;
  color: #999999;
  font-size: 18px;
  text-align: center;
}

.single-product .add-remove-like .like-product.liked,
.single-product .add-remove-like .like-product:hover {
  color: #fb3242;
}
/* END BIG PHOTO SECTION */

/* START PHOTO AND PRICE SECTION */

/* END PHOTO AND PRICE SECTION */

/* END HOMEPAGE SECTION */

/* START FAVORITES CARD SECTION */
.favorite-products .product-with-description {
  margin-bottom: 25px;
  border-bottom: 2px solid #eeeeee;
}

.favorite-products .product-with-description:last-of-type {
  border-bottom: none;
}

.product-with-description .product-image img {
  height: 350px;
}

.product-with-description .product-image .price-tag {
  top: 20px;
  left: 15px;
}

.product-links {
  margin-bottom: 10px;
}

.product-links a {
  color: #000000;
  text-decoration: none;
  font-size: 20px;
}

.product-links .like-button {
  color: #888888;
}

.product-links .like-button:hover,
.product-links .like-button.liked {
  color: #ff0000;
}

.product-links .like-button {
  margin-right: 10px;
}

/* END FAVORITES PAGE SECTION */

/* CHECKOUT PAGE */
.checkout-form-section h5 {
  font-size: 20px;
  color: #112f3e;
  display: block;
  margin-bottom: 20px;
  font-family: "Radomir Medium", sans-serif;
}

.order-pricing-details {
  border: 2px solid #eeeeee;
  border-radius: 10px;
  padding: 10px 30px 0 30px;
  margin-bottom: 20px;
}

.order-pricing-details p {
  color: #112f3e;
}

.order-pricing-details .cost-of-items,
.order-pricing-details .delivery-fees,
.order-pricing-details .order-totals,
.order-links {
  display: flex;
  justify-content: space-between;
}

.order-pricing-details .order-totals {
  border-top: 2px solid #eeeeee;
  padding-top: 10px;
  color: #112f3e;
  font-family: "Radomir Bold", sans-serif;
}

.order-links {
  margin-bottom: 40px;
}

.order-links a {
  text-decoration: underline;
  color: #0268b4;
}

.delivery-location {
  position: relative;
}

.delivery-location button {
  position: absolute;
  cursor: pointer;
  background-color: transparent;
  outline: none !important;
  top: 20px;
  right: 20px;
  border: none;
}

.delivery-location button img {
  height: 60px;
  width: 60px;
}

.delivery-location #map {
  height: 200px;
  width: 100%;
  border-radius: 10px;
}

/* UPDATE ORDER PAGE */
.update-order .single-order {
  border-bottom: 2px solid #eeeeee;
  margin-bottom: 20px;
}

.update-order .single-order:last-of-type {
  border-bottom: none;
}

.update-order .single-order .media img {
  height: 180px;
  margin-right: 20px;
}

.update-and-remove {
  margin-bottom: 20px;
}

.update-and-remove .remove-button {
  color: #fb3242;
  display: block;
  text-decoration: none;
  background-color: #fff4f5;
  height: 45px;
  width: 45px;
  line-height: 45px;
  text-align: center;
  border-radius: 10px;
  font-size: 20px;
}

/* PAYING BY CREDIT CARD */
.order-processed button {
  background-color: transparent;
  border: 2px solid #0074b1;
  padding: 10px 20px;
  border-radius: 10px;
  width: 100%;
  display: block;
  margin-bottom: 30px;
  cursor: pointer;
  color: #0074b1;
  font-family: "Radomir Medium", sans-serif;
}

.processed-items .media {
  margin-bottom: 20px;
  align-items: center;
}

.processed-items .media img {
  height: 180px;
  margin-right: 20px;
  border-radius: 10px;
}

.processed-items .media .media-body h5 {
  font-family: "Radomir Medium", sans-serif;
  color: #112f3e;
  font-size: 22px;
}

.processed-items .media .media-body .description-text {
  line-height: 28px;
}

.processed-items .media .media-body .total-price {
  color: #009e0f;
  font-size: 18px;
  font-family: "Radomir Medium", sans-serif;
}

.customer-information a {
  color: #fb3242;
  text-decoration: underline;
}

.payment-information {
  background-color: #f2f8fb;
  padding: 30px;
  border-radius: 10px;
}

.payment-information h5 {
  color: #112f3e;
  font-size: 22px;
  margin-bottom: 10px;
  font-family: "Radomir Medium", sans-serif;
}

.payment-information p {
  color: #0074b1;
  text-decoration: underline;
  line-height: 26px;
  letter-spacing: 0.025rem;
  margin-bottom: 0;
}

.payment-information p a {
  color: inherit;
}

.make-a-payment a {
  background-color: #0074b1;
  color: #fff;
  padding: 14px 20px;
  cursor: pointer;
  outline: none;
  width: 100%;
  display: block;
  border-radius: 10px;
  border: none;
  margin-top: 20px;
  margin-bottom: 30px;
  font-size: 18px;
  font-family: "Radomir Medium", sans-serif;
  text-align: center;
  text-decoration: none;
}

.delivery-header {
  color: #112f3e;
  font-size: 20px;
  font-family: "Radomir Medium", sans-serif;
  margin-bottom: 15px;
}

.delivery-information {
  border: 2px solid #eeeeee;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
}

.delivery-information .location p {
  line-height: normal;
  margin-bottom: 0;
}

.delivery-information .show-on-map-button {
  border: none;
  outline: none;
  background-color: transparent;
  color: #0074b1;
  text-decoration: underline;
  cursor: pointer;
  outline: none;
}

.delivery-information .message {
  margin-top: 30px;
}

.delivery-information .message span {
  margin-right: 10px;
}

.delivery-information .message p {
  margin-bottom: 0;
  color: #fb3242;
}

.call-to-actions a {
  display: block;
  padding: 12px 20px;
  border-radius: 10px;
  border: none;
  color: #ffffff;
  text-decoration: none;
  font-family: "Radomir Medium", sans-serif;
  text-align: center;
}

.call-to-actions .cancel-button {
  background-color: #ff0000;
}

.call-to-actions .chat-button {
  background-color: #009e0f;
}

/* SHOP HEADER */
.shop-header .main-content {
  display: flex;
  position: relative;
  flex-direction: row;
  margin-bottom: 30px;
}

.shop-header .main-content .shop-logo {
  width: 30%;
}

.shop-header .main-content .shop-logo img {
  height: 180px;
  display: block;
  margin: 0 auto;
  align-items: initial;
}

.shop-header .main-content .shop-details {
  width: 70%;
}

.shop-info-on-mobile {
  display: none;
  position: absolute;
  left: 30%;
  top: 10px;
}

.shop-info-on-mobile h6 {
  color: #112f3e;
  font-family: "Radomir Medium", sans-serif;
  font-size: 18px;
}

.shop-info-on-mobile .shop-offer {
  margin-bottom: 10px;
  color: #112f3e;
}

.shop-info-on-mobile .shop-offer span {
  width: 25px;
  text-align: center;
  margin-right: 8px;
}

.shop-header .shop-info-on-desktop .shop-name {
  font-family: "Radomir Medium", sans-serif;
  color: #112f3e;
  font-size: 26px;
  margin-bottom: 15px;
}

.shop-header .shop-info-on-desktop .shop-offer {
  margin-bottom: 10px;
  color: #112f3e;
}

.shop-header .shop-info-on-desktop .shop-offer span {
  width: 25px;
  text-align: center;
  margin-right: 8px;
}

/* START SHOP HEADER SOCIAL MEDIA LINKS */
.social-media-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f2f8fb;
  padding: 20px 10px;
  border-radius: 10px;
}

.social-media-link .social-media {
  text-align: center;
  padding-right: 10px;
  border-right: 1px solid #c2deec;
  width: 25%;
}

.social-media-link .social-media:last-child {
  border: none;
}

.flipped {
  transform: rotate(90deg);
}

.social-media-link .social-media a {
  color: #0074b1;
  font-size: 18px;
  text-decoration: none;
  font-family: "Radomir Medium", sans-serif;
}

.social-media-link .social-media a .icon {
  margin-right: 10px;
}
/* END SHOP HEADER SOCIAL MEDIA LINKS */

/* MEDIA QUERIES FOR RESPONSIVENESS */
@media screen and (max-width: 480px) {
  .single-order .media img {
    height: 120px;
    margin-right: 10px;
  }

  /* START INCREASE QUANTITY MEDIA QUERIES */
  .product-quantity a {
    height: 30px;
    width: 30px;
    line-height: 30px;
    font-size: 14px;
  }

  .product-quantity .quantity {
    font-size: 15px;
    padding: 0 15px;
  }

  .product-description .quantity-and-product-details .product-quantity {
    display: none;
  }

  .order-information .product-quantity {
    display: block;
  }

  /* END INCREASE QUANTITY MEDIA QUERIES */

  /* START FORM ELEMENTS MEDIA QUERIES */
  .input-field {
    margin-bottom: 15px;
  }

  .input-field select {
    padding: 15px 10px;
  }

  .input-field .arrow-icon {
    top: 15px;
  }
  /* END FORM ELEMENTS MEDIA QUERIES */

  /* START UPDATE ORDER PAGE MEDIA QUERIES */
  .update-and-remove .remove-button {
    height: 35px;
    width: 35px;
    line-height: 35px;
    font-size: 16px;
  }

  /* END UPDATE ORDER MEDIA QUERIES */

  /* IMAGES RESPONSIVENESS ON MOBILE  */
  .product-with-description .product-image img,
  .product-details .product-image img,
  .single-product img {
    height: 240px;
  }

  /* END IMAGE RESPONSIVENESS ON MOBILE */

  /* PAYING BY CASH AND CREDIT CARD MEDIA QUERIES */
  .processed-items .media img {
    height: 170px;
  }

  .processed-items .media .media-body h5 {
    font-size: 20px;
  }

  /* PAYMENT BY CC */
  .delivery-information .location p {
    margin-bottom: 10px;
  }

  /* SHOP HEADER */
  .shop-header .main-content {
    flex-direction: column;
  }

  .shop-header .main-content .shop-details {
    width: 100%;
    margin-top: 20px;
  }

  .shop-info-on-desktop {
    display: none;
  }

  .shop-info-on-mobile {
    display: block;
  }

  .shop-header .main-content .shop-logo img {
    height: 100px;
  }
  /* END SHOP HEADER MEDIA QUERIES  */
}

@media screen and (max-width: 992px) {
  .social-media-link .social-media a {
    font-size: 16px;
  }

  .social-media-link .social-media a .icon {
    display: block;
    width: 100%;
    font-size: 20px;
  }

  .social-media-link .social-media a .name {
    font-size: 15px;
  }

  .hidden-text {
    display: none;
  }
}

@media screen and (max-width: 392px) {
  .processed-items .media .media-body h5 {
    font-size: 16px;
  }
  .processed-items .media .media-body p {
    font-size: 12px;
    margin-bottom: 5px;
  }
  .processed-items .media .media-body .total-price {
    font-size: 14px;
  }
}
