@font-face {
  font-family: "Radomir";
  src: url("../fonts/Radomir.OTF") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Radomir Medium";
  src: url("../fonts/Radomir-Medium.OTF") format("opentype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Radomir Bold";
  src: url("../fonts/Radomir-Bold.OTF") format("opentype");
  font-weight: 700;
  font-style: normal;
}

/* START CSS RESET STYLES */
* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Radomir", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  transition: all 0.5s;
}

button:focus,
button:active {
  outline: none;
}
/* END CSS RESET STYLE */

/* START NAVIGATION MENU STYLES */
/* MAIN NAV COMPONENT */
nav {
  background: #0074b1;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  padding: 0 100px;
  margin-bottom: 25px;
}
/* END MAIN NAV COMPONENT */

/* START LOGO STYLING */
nav .logo {
  color: #fff;
  font-size: 26px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.025rem;
  font-family: "Radomir Medium", sans-serif;
}

nav .logo a{
  color: inherit;
  text-decoration: none;
}
/* END LOGO STYLING */

/* START LINK STYLING */
nav .nav-items {
  display: flex;
  flex: 1;
  justify-content: center;
  padding: 0 0 0 40px;
}

nav .nav-items li {
  list-style: none;
  padding: 0 15px;
}

.navbar-search{
  display: none;
}

.navbar-search form {
  display: flex;
  height: 45px;
  padding: 4px;
  background: #1e232b;
  min-width: 18% !important;
  max-width: 300px !important;
  border-radius: 2px;
  justify-content: center;
  margin: 0 auto;
  border: 1px solid rgba(155, 155, 155, 0.2);
}

.navbar-search form .search-data {
  width: 100%;
  height: 100%;
  padding: 0 10px;
  color: #fff;
  font-size: 16px;
  border: none;
  background: none;
}

.navbar-search form button {
  padding: 0 15px;
  color: #fff;
  font-size: 17px;
  background: #0074b1;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}

nav .nav-items li a {
  color: #6eb0d2;
  font-size: 18px;
  font-weight: 500;
  transition: all 0.5s;
  text-decoration: none;
  letter-spacing: 0.025rem;
}

nav .nav-items li a:hover,
nav .nav-items li a.active {
  color: #ffffff;
}
/* END LINKS STYLING */

/* START OTHER ICONS (MENU AND SEARCH) */
nav .menu-icon,
nav .cancel-icon {
  width: 40px;
  text-align: center;
  margin: 0 50px;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
  display: none;
}

nav .search-icon {
  width: 20px;
  text-align: center;
  margin: 0 10px;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
  display: block;
}

nav .search-icon a {
  color: inherit;
  text-decoration: none;
}

nav .menu-icon button,
nav .cancel-icon {
  display: none;
}
/* END OTHER ICONS */

/* START NAV ICON */
.nav-icon {
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none !important;
}

.nav-icon .line {
  width: 30px;
  height: 3px;
  margin-bottom: 5px;
  border-radius: 20px;
  background-color: #ffffff;
}

.nav-icon .line-2 {
  width: 25px;
}

.nav-icon .line-3 {
  width: 20px;
}
/* END NAV ICON */

/* START CART ICON */
.cart-icon {
  margin: 0 20px 0 0;
}

.cart-icon a {
  color: #ffffff;
  text-decoration: none;
  font-size: 15px;
}

.cart-icon .cart-amount {
  background-color: #fb3242;
  color: #ffffff !important;
  border-radius: 30px;
  padding: 5px 10px;
  margin-right: 5px;
}
/* END CART ICON */

/* END NAVIGATION MENU STYLES */

/* START STYLING OF FORM ELEMENTS */
.input-field {
  margin-bottom: 25px;
  position: relative;
}

.input-field input {
  width: 100%;
  padding: 20px 15px;
  border: none;
  background-color: #f6f6f6;
  border-radius: 10px;
  color: #112f3e;
}

/* REMOVE ARROW BUTTONS IN INPUT TYPE NUMBER */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
/* END */

.input-field select {
  width: 100%;
  padding: 20px 15px;
  border: none;
  background-color: #f6f6f6;
  border-radius: 10px;
  color: #112f3e;
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
  -moz-appearance: none;
}

.input-field .arrow-icon {
  color: #a6afb4;
  position: absolute;
  right: 20px;
  top: 20px;
  font-size: 22px;
  pointer-events: none;
}

.input-field textarea {
  width: 100%;
  padding: 15px;
  background-color: #f6f6f6;
  border-radius: 10px;
  border: none;
  color: #112f3e;
}

.confirm-button {
  background-color: #0074b1;
  color: #fff !important;
  padding: 14px 20px;
  cursor: pointer;
  outline: none;
  width: 100%;
  display: block;
  border-radius: 10px;
  border: none;
  margin-top: 20px;
  margin-bottom: 15px;
  font-size: 18px;
  font-family: "Radomir Medium", sans-serif;
  text-decoration: none !important;
  text-align: center;
}

.payment-note {
  text-align: center;
  line-height: 26px;
}
/* END STYLING OF FORM ELEMENTS */

/* START MODAL FOR BUYING PRODUCT */
.modal .modal-content {
  border: none;
  padding: 1rem 2rem;
}

.modal .modal-header {
  border: none;
}

.modal .modal-header h5 {
  font-family: "Radomir Medium", sans-serif;
  color: #112f3e;
  font-size: 22px;
  letter-spacing: 0.025rem;
}

.modal .modal-header button {
  font-size: 25px;
  color: #888888;
  opacity: 1 !important;
}

.modal .modal-body button {
  background-color: #009e0f;
  border: none;
  outline: none;
  padding: 15px 20px;
  width: 100%;
  cursor: pointer;
  border-radius: 10px;
  color: #ffffff;
  letter-spacing: 0.025rem;
  font-family: "Radomir Medium", sans-serif;
}
/* END MODAL FOR BUYING PRODUCT */

/* START PRODUCT CARD SECTION */
.product-image {
  position: relative;
  margin-bottom: 10px;
}

.product-image .price-tag {
  position: absolute;
  top: 20px;
  left: 15px;
  background-color: #ffffff;
  color: #112f3e;
  border-radius: 20px;
  padding: 8px 15px;
  font-family: "Radomir Bold", sans-serif;
}

.product-details .product-image img {
  height: 350px;
}

.product-details .product-image .price-tag {
  top: 20px;
  left: 15px;
}

.product-image img {
  height: 235px;
  width: 100%;
  display: block;
  margin: 0 auto;
  border-radius: 20px;
}

.product-description .description-title {
  font-family: "Radomir Medium", sans-serif;
  color: #112f3e;
  font-size: 22px;
}

.product-description .description-title a {
  text-decoration: none;
  color: inherit;
}

.product-description .product-price,
.product-price {
  display: flex;
  justify-content: start;
  align-items: center;
}

.product-description .product-price p,
.product-price p {
  margin-bottom: 5px;
  display: inline-block;
  margin-right: 10px;
  color: #112f3e;
}

.product-description .product-price .new-price,
.product-price .new-price {
  font-family: "Radomir Medium", sans-serif;
  font-size: 20px;
  color: #009e0f;
}

.product-description .product-price .old-price,
.product-price .old-price {
  font-size: 16px;
  text-decoration: line-through;
  color: #a6afb4;
  align-self: flex-end;
}

.product-description .description-text {
  line-height: 26px;
}

.product-description .quantity-and-product-details .quantity {
  padding: 0 15px;
  font-size: 18px;
}

.product-description .quantity-and-product-details .product-quantity a {
  line-height: 35px;
  height: 35px;
  width: 35px;
  font-size: 15px;
}

.order-information .product-quantity {
  display: none;
}
/* END PRODUCT DESCRIPTION SECION */

/* START PRODUCT INCREASE AND DECREASE QUANTITY */
.product-quantity .quantity {
  font-size: 20px;
  padding: 0 30px;
  font-family: "Radomir Bold", sans-serif;
}

.product-quantity a {
  display: inline-block;
  line-height: 50px;
  height: 50px;
  width: 50px;
  font-size: 18px;
  border-radius: 50%;
  border: none;
  text-align: center;
  text-decoration: none;
}

.product-quantity .decrease {
  background-color: #ffffff;
  color: #888888;
  box-shadow: 0px 0px 3px 3px rgba(212, 223, 221, 0.5);
}

.product-quantity .increase {
  background-color: #009e0f;
  color: #ffffff;
}
/* END PRODUCT INCREASE AND INCREASE SECTION */

/* START HOMEPAGE SECTION */
/* TABBED CONTENT NAV MENU */
.nav-tabs {
  justify-content: space-between;
  border: none !important;
  margin-bottom: 15px;
}

.nav-tabs .nav-item .nav-link:hover,
.nav-tabs .nav-item .nav-link,
.nav-tabs .nav-item .nav-link.active {
  border: none !important;
}

.nav-tabs .nav-item .nav-link {
  color: #888888;
}

.nav-tabs .nav-item .nav-link.active {
  color: #000000;
}

.nav-tabs .nav-item .nav-link.active img {
  opacity: 1;
}

.nav-tabs .nav-item .nav-link img {
  opacity: 0.5;
  height: 22px;
  width: 22px;
  margin-right: 5px;
}
/* END TABBED CONTENT NAV MENU */

/* PHOTOS ONLY AND PHOTOS WITH PRICE SECTION */
.photos-only-section {
  display: flex;
  flex-wrap: wrap;
}

.photos-only-section .single-product-container {
  width: 33.3%;
  padding: 5px;
  margin-bottom: 15px;
  text-decoration: none;
  position: relative;
}

.photos-only-section .single-product-container img {
  height: 280px;
  width: 100%;
  display: block;
  margin: 0 auto;
  border-radius: 10px;
}
/* END PHOTOS ONLY AND PHOTOS WITH PRICE SECTION */

/* BIG PHOTO SECTION */
.big-photo-section a {
  text-decoration: none;
}

.single-product {
  position: relative;
  margin-bottom: 20px;
}

.single-product img {
  height: 350px;
  width: 100%;
  border-radius: 15px;
}

.single-product .add-remove-like .cart-button {
  color: #ffffff;
  padding: 10px 14px;
  line-height: normal;
  border-radius: 10px;
  text-decoration: none;
  top: 20px;
  left: 15px;
  position: absolute;
}

.single-product .add-remove-like .add-to-cart {
  background-color: #009e0f;
}

.single-product .add-remove-like .remove-from-cart {
  background-color: #fb3242;
}

.single-product .add-remove-like .like-product {
  position: absolute;
  top: 20px;
  right: 15px;
  height: 40px;
  width: 40px;
  display: block;
  line-height: 40px;
  border-radius: 8px;
  background-color: #ffffff;
  color: #999999;
  font-size: 18px;
  text-align: center;
}

.single-product .add-remove-like .like-product.liked,
.single-product .add-remove-like .like-product:hover {
  color: #fb3242;
}
/* END BIG PHOTO SECTION */

/* START PHOTO AND PRICE SECTION */
.photos-only-section .single-product-container .tagged-price {
  position: absolute;
  bottom: 30px;
  left: 35%;
  background-color: #ffffff;
  color: #112f3e;
  border-radius: 20px;
  padding: 8px 15px;
  font-family: "Radomir Bold", sans-serif;
}
/* END PHOTO AND PRICE SECTION */

/* END HOMEPAGE SECTION */

/* START PRODUCT DESCRIPTION SECTION */
.photo-description-section .product-with-description,
.favorite-products .product-with-description {
  margin-bottom: 25px;
  border-bottom: 2px solid #eeeeee;
}

.photo-description-section .product-with-description:last-of-type,
.favorite-products .product-with-description:last-of-type {
  border-bottom: none;
}

.product-with-description .product-image img {
  height: 350px;
}

.product-with-description .product-image .price-tag {
  top: 20px;
  left: 15px;
}

.product-links {
  margin-bottom: 10px;
}

.product-links a {
  color: #000000;
  text-decoration: none;
  font-size: 20px;
}

.product-links .like-button {
  color: #888888;
}

.product-links .like-button:hover,
.product-links .like-button.liked {
  color: #fb3242;
}

.product-links .like-button {
  margin-right: 10px;
}
/* END PRODUCT DESCRIPTION SECTION */

/* END FAVORITES PAGE SECTION */

/* CHECKOUT PAGE */
.checkout-form-section h5 {
  font-size: 20px;
  color: #112f3e;
  display: block;
  margin-bottom: 20px;
  font-family: "Radomir Medium", sans-serif;
}

.order-pricing-details {
  border: 2px solid #eeeeee;
  border-radius: 10px;
  padding: 10px 30px 0 30px;
  margin-bottom: 20px;
}

.order-pricing-details p {
  color: #112f3e;
}

.order-pricing-details .cost-of-items,
.order-pricing-details .delivery-fees,
.order-pricing-details .order-totals,
.order-links {
  display: flex;
  justify-content: space-between;
}

.order-pricing-details .order-totals {
  border-top: 2px solid #eeeeee;
  padding-top: 10px;
  color: #112f3e;
  font-family: "Radomir Bold", sans-serif;
}

.order-links {
  margin-bottom: 40px;
}

.order-links a {
  text-decoration: underline;
  color: #0268b4;
}

.delivery-location {
  position: relative;
}

.delivery-location button {
  position: absolute;
  cursor: pointer;
  background-color: transparent;
  outline: none !important;
  top: 20px;
  right: 20px;
  border: none;
}

.delivery-location button img {
  height: 60px;
  width: 60px;
}

.delivery-location #map {
  height: 200px;
  width: 100%;
  border-radius: 10px;
}
/* END CHECKOUT PAGE STYLES */

/* UPDATE ORDER PAGE */
.update-order .single-order {
  border-bottom: 2px solid #eeeeee;
  margin-bottom: 20px;
}

.update-order .single-order:last-of-type {
  border-bottom: none;
}

.update-order .single-order .media img {
  height: 180px;
  margin-right: 20px;
}

.update-and-remove {
  margin-bottom: 20px;
}

.update-and-remove .remove-button {
  color: #fb3242;
  display: block;
  text-decoration: none;
  background-color: #fff4f5;
  height: 45px;
  width: 45px;
  line-height: 45px;
  text-align: center;
  border-radius: 10px;
  font-size: 20px;
}
/* END UPDATE ORDER PAGE */

/* PAYING BY CREDIT CARD AND CASH */
.order-processed button {
  background-color: transparent;
  border: 2px solid #0074b1;
  padding: 10px 20px;
  border-radius: 10px;
  width: 100%;
  display: block;
  margin-bottom: 30px;
  cursor: pointer;
  color: #0074b1;
  font-family: "Radomir Medium", sans-serif;
}

.processed-items .media {
  margin-bottom: 20px;
  align-items: center;
}

.processed-items .media img {
  height: 180px;
  margin-right: 20px;
  border-radius: 10px;
}

.processed-items .media .media-body h5 {
  font-family: "Radomir Medium", sans-serif;
  color: #112f3e;
  font-size: 22px;
}

.processed-items .media .media-body .description-text {
  line-height: 28px;
}

.processed-items .media .media-body .total-price {
  color: #009e0f;
  font-size: 18px;
  font-family: "Radomir Medium", sans-serif;
}

.customer-information a {
  color: #fb3242;
  text-decoration: underline;
}

.payment-information {
  background-color: #f2f8fb;
  padding: 30px;
  border-radius: 10px;
}

.payment-information h5 {
  color: #112f3e;
  font-size: 22px;
  margin-bottom: 10px;
  font-family: "Radomir Medium", sans-serif;
}

.payment-information p {
  color: #0074b1;
  text-decoration: underline;
  line-height: 26px;
  letter-spacing: 0.025rem;
  margin-bottom: 0;
}

.payment-information p a {
  color: inherit;
}

.make-a-payment a {
  background-color: #0074b1;
  color: #fff;
  padding: 14px 20px;
  cursor: pointer;
  outline: none;
  width: 100%;
  display: block;
  border-radius: 10px;
  border: none;
  margin-top: 20px;
  margin-bottom: 30px;
  font-size: 18px;
  font-family: "Radomir Medium", sans-serif;
  text-align: center;
  text-decoration: none;
}

.delivery-header {
  color: #112f3e;
  font-size: 20px;
  font-family: "Radomir Medium", sans-serif;
  margin-bottom: 15px;
}

.delivery-information {
  border: 2px solid #eeeeee;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
}

.delivery-information .location p {
  line-height: normal;
  margin-bottom: 0;
}

.delivery-information .show-on-map-button {
  border: none;
  outline: none;
  background-color: transparent;
  color: #0074b1;
  text-decoration: underline;
  cursor: pointer;
  outline: none;
}

.delivery-information .message {
  margin-top: 30px;
}

.delivery-information .message span {
  margin-right: 10px;
}

.delivery-information .message p {
  margin-bottom: 0;
  color: #fb3242;
}

.call-to-actions a {
  display: block;
  padding: 14px 20px;
  border-radius: 10px;
  border: none;
  color: #ffffff;
  text-decoration: none;
  font-family: "Radomir Medium", sans-serif;
  text-align: center;
  width: 50%;
}

.call-to-actions .cancel-button {
  background-color: #fb3242;
  margin-right: 10px;
}

.call-to-actions .chat-button {
  background-color: #009e0f;
  margin-left: 10px;
}
/* END PAY BY CREDIT OR CASH PAGE */

/* START SHOP HEADER (LOGO AND OTHER INFO) */
.shop-header .main-content {
  display: flex;
  position: relative;
  flex-direction: row;
  margin-bottom: 15px;
}

.shop-header .main-content .shop-logo {
  width: 30%;
}

.shop-header .main-content .shop-logo img {
  height: 180px;
  display: block;
  margin: 0 auto;
  align-items: initial;
}

.shop-header .main-content .shop-details {
  width: 70%;
}

/* END SHOP HEADER TEXT ON MOBILE */
.shop-info-on-mobile {
  display: none;
  position: absolute;
  left: 30%;
  top: 10px;
}

.shop-info-on-mobile h6 {
  color: #112f3e;
  font-family: "Radomir Medium", sans-serif;
  font-size: 18px;
}

.shop-info-on-mobile .shop-offer {
  margin-bottom: 10px;
  color: #112f3e;
}

.shop-info-on-mobile .shop-offer span {
  width: 25px;
  text-align: center;
  margin-right: 8px;
}
/* END SHOP HEADER TEXT ON MOBILE */

/* START SHOP HEADER TEXT ON DESKTOP */
.shop-header .shop-info-on-desktop .shop-name {
  font-family: "Radomir Medium", sans-serif;
  color: #112f3e;
  font-size: 26px;
  margin-bottom: 15px;
}

.shop-header .shop-info-on-desktop .shop-offer {
  margin-bottom: 10px;
  color: #112f3e;
}

.shop-header .shop-info-on-desktop .shop-offer span {
  width: 25px;
  text-align: center;
  margin-right: 8px;
}
/* END SHOP HEADER TEXT ON DESKTOP */

/* START SHOP HEADER SOCIAL MEDIA LINKS */
.social-media-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f2f8fb;
  padding: 15px 10px;
  border-radius: 10px;
}

.social-media-link .social-media {
  text-align: center;
  padding-right: 10px;
  border-right: 1px solid #c2deec;
  width: 25%;
}

.social-media-link .social-media:last-child {
  border: none;
}

.flipped {
  transform: rotate(90deg);
}

.social-media-link .social-media a {
  color: #0074b1;
  font-size: 18px;
  text-decoration: none;
  font-family: "Radomir Medium", sans-serif;
}

.social-media-link .social-media a .icon {
  margin-right: 10px;
}
/* END SHOP HEADER SOCIAL MEDIA LINKS */

/* START CATEGORIES STYLING */
.categories h5 {
  font-family: "Radomir Medium", sans-serif;
  color: #112f3e;
  font-size: 22px;
}

.category-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  padding-bottom: 15px;
  border-bottom: 2px solid #eeeeee;
}

.category-section .single-category {
  width: 20%;
  text-decoration: none;
  outline: none;
}

.category-section .single-category p {
  text-align: center;
  margin-bottom: 0;
  letter-spacing: 0.025rem;
  font-size: 15px;
  color: #112f3e;
  font-family: "Radomir Medium";
}

.box {
  background: white;
  width: auto;
  height: 100px;
  border-radius: 50%;
  display: grid;
  place-content: center;
}

.box-inner {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: grid;
  place-content: center;
}

.box-inner .box-img img {
  width: 40px;
}

.box-inner.denim .box-img img {
  width: 25px;
}

.clothes {
  background: #ffe4e4;
  border: 1px solid rgba(255, 228, 228, 0.8);
}

.boots {
  background: #fff6e5;
  border: 1px solid rgba(255, 246, 229, 0.8);
}

.denim {
  background: #e5eff7;
  border: 1px solid rgba(229, 239, 247, 0.8);
}

.sweater {
  background: #f0edec;
  border: 1px solid rgba(240, 237, 236, 0.8);
}

.backpack {
  background: #fefcf7;
  border: 1px solid rgba(254, 252, 247, 0.8);
}
/* END CATEGORIES STYLINGS */

/* SECTION SPACER */
.product-details,
.payment-page,
.update-order-section,
.favorites-section,
.checkout-form-section,
.homepage-section {
  margin-bottom: 100px;
}

/* SEARCH BAR ON DESKTOP */
#search {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.95);

  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;

  -webkit-transform: translate(0px, -100%) scale(0, 0);
  -moz-transform: translate(0px, -100%) scale(0, 0);
  -o-transform: translate(0px, -100%) scale(0, 0);
  -ms-transform: translate(0px, -100%) scale(0, 0);
  transform: translate(0px, -100%) scale(0, 0);

  opacity: 0;
}

#search.open {
  -webkit-transform: translate(0px, 0px) scale(1, 1);
  -moz-transform: translate(0px, 0px) scale(1, 1);
  -o-transform: translate(0px, 0px) scale(1, 1);
  -ms-transform: translate(0px, 0px) scale(1, 1);
  transform: translate(0px, 0px) scale(1, 1);
  opacity: 1;
}

#search input[type="search"] {
  position: absolute;
  top: 50%;
  width: 100%;
  color: rgb(255, 255, 255);
  background: rgba(0, 0, 0, 0);
  font-size: 60px;
  font-weight: 300;
  text-align: center;
  border: 0px;
  margin: 0px auto;
  margin-top: -51px;
  padding-left: 30px;
  padding-right: 30px;
  outline: none;
}

#search .search-button {
  position: absolute;
  top: 50%;
  left: 45%;
  margin-top: 61px;
  margin-left: -45px;
  background-color: #0074b1;
  border: none;
  cursor: pointer;
  color: #ffffff;
  padding: 10px 30px;
  border-radius: 4px;
  text-transform: uppercase;
}

#search .close {
  position: fixed;
  top: 15px;
  right: 15px;
  color: #fff;
  background-color: #0074b1;
  border-color: none;
  opacity: 1;
  padding: 10px 17px;
  font-size: 25px;
}

/* FOOTER SECTION */
.footer-section {
  background-color: #0074b1;
  padding: 15px 0;
}

.footer-section p {
  margin-bottom: 0;
  text-align: center;
  color: #ffffff;
}

/* MEDIA QUERIES FOR RESPONSIVENESS (SMALL SCREEN SIZES) */
@media screen and (max-width: 480px) {
  /* UPDATE ORDER PAGE */
  .single-order .media img {
    height: 120px;
    margin-right: 10px;
  }
  /* END UPDATE ORDER */

  /* START INCREASE QUANTITY MEDIA QUERIES */
  .product-quantity a {
    height: 30px;
    width: 30px;
    line-height: 30px;
    font-size: 14px;
  }

  .product-quantity .quantity {
    font-size: 15px;
    padding: 0 15px;
  }

  .product-description .quantity-and-product-details .product-quantity {
    display: none;
  }

  .order-information .product-quantity {
    display: block;
  }

  /* END INCREASE QUANTITY MEDIA QUERIES */

  /* START FORM ELEMENTS MEDIA QUERIES */
  .input-field {
    margin-bottom: 15px;
  }

  .input-field select {
    padding: 15px 10px;
  }

  .input-field .arrow-icon {
    top: 15px;
  }
  /* END FORM ELEMENTS MEDIA QUERIES */

  /* START UPDATE ORDER PAGE MEDIA QUERIES */
  .update-and-remove .remove-button {
    height: 35px;
    width: 35px;
    line-height: 35px;
    font-size: 16px;
  }

  /* END UPDATE ORDER MEDIA QUERIES */

  /* IMAGES RESPONSIVENESS ON MOBILE  */
  .product-with-description .product-image img,
  .product-details .product-image img,
  .single-product img {
    height: 240px;
  }

  /* END IMAGE RESPONSIVENESS ON MOBILE */

  /* PAYING BY CASH AND CREDIT CARD MEDIA QUERIES */
  .processed-items .media img {
    height: 170px;
  }

  .processed-items .media .media-body h5 {
    font-size: 20px;
  }

  /* PAYMENT BY CC & CASH */
  .delivery-information .location p {
    margin-bottom: 10px;
  }

  /* SHOP HEADER */
  .shop-header .main-content {
    flex-direction: column;
  }

  .shop-header .main-content .shop-details {
    width: 100%;
    margin-top: 20px;
  }

  .shop-info-on-desktop {
    display: none;
  }

  .shop-info-on-mobile {
    display: block;
    padding-top: 0 !important;
  }

  .shop-header .main-content .shop-logo img {
    height: 100px;
  }

  .categories h5 {
    font-size: 18px;
  }
  /* END SHOP HEADER MEDIA QUERIES  */
  .photos-only-section .single-product-container img {
    height: 130px;
  }
}
/* END MEDIA QUERIES */

@media (max-width: 767px) {
  .photos-only-section .single-product-container .tagged-price {
    left: 35%;
    padding: 4px 10px;
    font-size: 12px;
  }
  .photos-only-section .single-product-container img {
    height: 150px;
  }
  
}

/* MEDIA QUERIES FOR MEDIUM SCREEN SIZES */
@media screen and (max-width: 992px) {
  .tab-text {
    display: none;
  }

  /* SITE HEADER SOCIAL MEDIA */
  .social-media-link .social-media a {
    font-size: 16px;
  }

  .social-media-link .social-media a .icon {
    display: block;
    width: 100%;
    font-size: 20px;
  }

  .social-media-link .social-media a .name {
    font-size: 12px;
  }
  /* SITE HEADER SOCIAL MEDIA */

  .hidden-text {
    display: none;
  }

  .photos-only-section .single-product-container img {
    height: 150px;
  }

  .shop-header .main-content {
    flex-direction: column;
  }

  .shop-header .main-content .shop-details {
    width: 100%;
    margin-top: 20px;
  }

  .shop-info-on-desktop {
    display: none;
  }

  .shop-info-on-mobile {
    display: block;
    padding-top: 30px;
  }

}
/* END MEDIA QUERIES FOR MEDIUM SCREEN SIZES */

/* MEDIA QUERIES FOR CATEGORIES SECTION (SMALL SCREEN) */
@media (max-width: 492px) {
  .box {
    width: auto;
    height: 80px;
  }

  .box-inner {
    width: 50px;
    height: 50px;
  }

  .box-inner .box-img img {
    width: 25px;
  }

  .box-inner.denim .box-img img {
    width: 15px;
  }

  .category-section .single-category p {
    font-size: 12px;
  }
}
/* END MEDIA QUERIES FOR CATEGORIES SECTION */

/* MEDIA QUERIES FOR SMALLER SCREEN SIZES */
@media screen and (max-width: 392px) {
  /* MEDIA QUERIES FOR PAYMENT PAGE */
  .processed-items .media .media-body h5 {
    font-size: 16px;
  }

  .processed-items .media .media-body p {
    font-size: 12px;
    margin-bottom: 5px;
  }

  .processed-items .media .media-body .total-price {
    font-size: 14px;
  }
  /* END MEDIA QUERIES FOR PAYMENT PAGE */
  .photos-only-section .single-product-container img {
    height: 100px;
  }
}

@media (max-width: 479px) {
  /* MEDIA QUERIES FOR PHOTOS AND PRICE */
  .photos-only-section .single-product-container .tagged-price {
    left: 30%;
    bottom: 15px;
    font-size: 10px;
  }
}

@media (max-width: 380px) {
  .photos-only-section .single-product-container .tagged-price {
    left: 25%;
  }
  /* END MEDIA QUERIES FOR PHOTOS AND PRICE */
}
/* MEDIA QUERIES FOR OTHER SCREEN SIZES FOR RESPONSIVENESS */

/* BEGIN MEDIA QUERIES FOR NAVIGATION MENU */
@media (max-width: 1245px) {
  nav {
    padding: 0 50px;
  }
}

@media (max-width: 1140px) {
  nav {
    padding: 0px;
  }

  nav .logo {
    flex: 2;
    text-align: center;
  }

  nav .nav-items {
    position: fixed;
    z-index: 99;
    top: 70px;
    width: 100%;
    left: -100%;
    height: 100%;
    padding: 10px 50px 0 50px;
    text-align: center;
    background: rgb(0, 116, 177);
    display: inline-block;
    transition: left 0.5s ease;
  }

  nav .nav-items.active {
    left: 0px;
  }

  .navbar-search{
    display: block;
  }

  nav .nav-items li {
    line-height: 40px;
    margin: 30px 0;
  }

  nav .nav-items li a {
    font-size: 20px;
  }

  nav .menu-icon {
    display: block;
  }

  nav .search-icon,
  nav .cart-icon,
  nav .menu-icon button {
    display: block;
  }

  nav .menu-icon button.hide,
  nav .cart-icon.hide,
  nav .search-icon.hide {
    display: none;
  }

  nav .cancel-icon.show {
    display: block;
  }
}

@media (max-width: 980px) {
  nav .menu-icon,
  nav .cancel-icon {
    margin: 0 20px;
  }
  nav .search-icon {
    margin: 0 10px;
  }
}

@media (max-width: 768px) {
  nav .logo {
    font-size: 18px;
  }
}

@media (max-width: 350px) {
  nav .menu-icon,
  nav .cancel-icon,
  nav .search-icon {
    margin: 0 10px;
    font-size: 16px;
  }
}
/* END MEDIA QUERIES FOR NAVIGATION MENU */
